In [53]:
#import libraries
import pandas as pd
import numpy as np

In [54]:
#upload csv
fw17_18=pd.read_csv('fall17_winter18.csv')
fw17_18.head()

,TermTested,TermRostered,Subject,ASGType,NormsReferenceData,GrowthComparisonPeriod,WIStartTerm,WIEndTerm,OptionalGroupingCategory,OptionGroupingGroup,...,MedianConditionalGrowthPercentile,OptionalGroupingPercentageofStudentswhoMetorExceededtheirProjectedScore,OptionalGroupingOverallPercentageofProjectedScoreMet,OptionalGroupingCountofStudentswithGrowthProjectionAvailableandValidBeginningandEndingTermScores,OptionalGroupingCountofStudentswhoMetorExceededtheirProjectedGrowth,OptionalGroupingMedianConditionalGrowthPercentile,StartGrowthandAchievement,EndGrowthandAchievement,ConditionalGrowthPercentileAxis,AchievementPercentileAxis
0,Winter 2017-2018,Winter 2017-2018,Language Usage,Summary,2015,Fall 2017 - Winter 2018,2,17,NONE,NaN,...,73.0,NaN,NaN,NaN,NaN,NaN,High-G/High-A,High-G/High-A,50,50
1,Winter 2017-2018,Winter 2017-2018,Language Usage,Summary,2015,Fall 2017 - Winter 2018,2,17,NONE,NaN,...,46.0,NaN,NaN,NaN,NaN,NaN,Low-G/High-A,Low-G/High-A,50,50
2,Winter 2017-2018,Winter 2017-2018,Language Usage,Summary,2015,Fall 2017 - Winter 2018,2,17,NONE,NaN,...,46.0,NaN,NaN,NaN,NaN,NaN,NaN,High-A,50,50
3,Winter 2017-2018,Winter 2017-2018,Language Usage,Summary,2015,Fall 2017 - Winter 2018,2,17,NONE,NaN,...,62.0,NaN,NaN,NaN,NaN,NaN,NaN,High-A,50,50
4,Winter 2017-2018,Winter 2017-2018,Language Usage,Summary,2015,Fall 2017 - Winter 2018,2,17,NONE,NaN,...,46.0,NaN,NaN,NaN,NaN,NaN,High-G/High-A,High-G/High-A,50,50

In [55]:
#extract necessary columns
f17_w=fw17_18.loc[:, ["StudentID", "Subject", "StartScore", "EndScore", "StudentGrade"]]
f17_w.head()

  StudentID         Subject  StartScore  EndScore StudentGrade
0        20  Language Usage       228.0     233.0            8
1        23  Language Usage       231.0     230.0            4
2        30  Language Usage         NaN     209.0            3
3        31  Language Usage         NaN     223.0            8
4  001-0001  Language Usage       189.0     197.0            2

In [56]:
#rename columns
f17w = f17_w.rename(columns={"StartScore":"Fall (2017)", "EndScore":"Winter (2018)"})
f17w.head()

  StudentID         Subject  Fall (2017)  Winter (2018) StudentGrade
0        20  Language Usage        228.0          233.0            8
1        23  Language Usage        231.0          230.0            4
2        30  Language Usage          NaN          209.0            3
3        31  Language Usage          NaN          223.0            8
4  001-0001  Language Usage        189.0          197.0            2

In [57]:
#upload csv
ws_18=pd.read_csv('Winter18_Spring18.csv')
ws_18.head()

,TermTested,TermRostered,Subject,ASGType,NormsReferenceData,GrowthComparisonPeriod,WIStartTerm,WIEndTerm,OptionalGroupingCategory,OptionGroupingGroup,...,MedianConditionalGrowthPercentile,OptionalGroupingPercentageofStudentswhoMetorExceededtheirProjectedScore,OptionalGroupingOverallPercentageofProjectedScoreMet,OptionalGroupingCountofStudentswithGrowthProjectionAvailableandValidBeginningandEndingTermScores,OptionalGroupingCountofStudentswhoMetorExceededtheirProjectedGrowth,OptionalGroupingMedianConditionalGrowthPercentile,StartGrowthandAchievement,EndGrowthandAchievement,ConditionalGrowthPercentileAxis,AchievementPercentileAxis
0,Spring 2017-2018,Spring 2017-2018,Language Usage,Summary,2015,Winter 2018 - Spring 2018,17,32,NONE,NaN,...,48,NaN,NaN,NaN,NaN,NaN,Low-G/High-A,Low-G/High-A,50,50
1,Spring 2017-2018,Spring 2017-2018,Language Usage,Summary,2015,Winter 2018 - Spring 2018,17,32,NONE,NaN,...,23,NaN,NaN,NaN,NaN,NaN,Low-G/High-A,Low-G/High-A,50,50
2,Spring 2017-2018,Spring 2017-2018,Language Usage,Summary,2015,Winter 2018 - Spring 2018,17,32,NONE,NaN,...,68,NaN,NaN,NaN,NaN,NaN,High-G/High-A,High-G/High-A,50,50
3,Spring 2017-2018,Spring 2017-2018,Language Usage,Summary,2015,Winter 2018 - Spring 2018,17,32,NONE,NaN,...,48,NaN,NaN,NaN,NaN,NaN,High-G/High-A,High-G/High-A,50,50
4,Spring 2017-2018,Spring 2017-2018,Language Usage,Summary,2015,Winter 2018 - Spring 2018,17,32,NONE,NaN,...,48,NaN,NaN,NaN,NaN,NaN,Low-G/High-A,Low-G/High-A,50,50

In [58]:
#extract necessary columns
s_18=ws_18.loc[:, ["StudentID", "Subject", "EndScore", "StudentGrade"]]

In [59]:
#rename column
s18=s_18.rename(columns={"EndScore":"Spring (2018)"})
s18.head()

  StudentID         Subject  Spring (2018) StudentGrade
0  001-0002  Language Usage            229            5
1  001-0001  Language Usage            201            2
2  001-0004  Language Usage            244            5
3         7  Language Usage            210            3
4  001-0008  Language Usage            227            5

In [60]:
#upload csv
fw18_19=pd.read_csv('Fall18_Winter19.csv')
fw18_19.head()

,TermTested,TermRostered,Subject,ASGType,NormsReferenceData,GrowthComparisonPeriod,WIStartTerm,WIEndTerm,OptionalGroupingCategory,OptionGroupingGroup,...,MedianConditionalGrowthPercentile,OptionalGroupingPercentageofStudentswhoMetorExceededtheirProjectedScore,OptionalGroupingOverallPercentageofProjectedScoreMet,OptionalGroupingCountofStudentswithGrowthProjectionAvailableandValidBeginningandEndingTermScores,OptionalGroupingCountofStudentswhoMetorExceededtheirProjectedGrowth,OptionalGroupingMedianConditionalGrowthPercentile,StartGrowthandAchievement,EndGrowthandAchievement,ConditionalGrowthPercentileAxis,AchievementPercentileAxis
0,Winter 2018-2019,Winter 2018-2019,Language Usage,Summary,2015,Fall 2018 - Winter 2019,4,17,NONE,NaN,...,31.0,NaN,NaN,NaN,NaN,NaN,NaN,Low-A,50,50
1,Winter 2018-2019,Winter 2018-2019,Language Usage,Summary,2015,Fall 2018 - Winter 2019,4,17,NONE,NaN,...,31.0,NaN,NaN,NaN,NaN,NaN,High-A,NaN,50,50
2,Winter 2018-2019,Winter 2018-2019,Language Usage,Summary,2015,Fall 2018 - Winter 2019,4,17,NONE,NaN,...,48.0,NaN,NaN,NaN,NaN,NaN,High-A,NaN,50,50
3,Winter 2018-2019,Winter 2018-2019,Language Usage,Summary,2015,Fall 2018 - Winter 2019,4,17,NONE,NaN,...,48.0,NaN,NaN,NaN,NaN,NaN,High-G/High-A,High-G/High-A,50,50
4,Winter 2018-2019,Winter 2018-2019,Language Usage,Summary,2015,Fall 2018 - Winter 2019,4,17,NONE,NaN,...,84.0,NaN,NaN,NaN,NaN,NaN,High-G/High-A,High-G/High-A,50,50

In [61]:
#extract necessary columns
fw18_19=fw18_19.loc[:, ["StudentID", "Subject", "StartScore", "EndScore", "StudentGrade"]]

In [62]:
#rename columns
fw1819 = fw18_19.rename(columns={"StartScore":"Fall (2018)", "EndScore":"Winter (2019)"})
fw1819.head()

  StudentID         Subject  Fall (2018)  Winter (2019) StudentGrade
0  001-0073  Language Usage          NaN          204.0            5
1  001-0002  Language Usage        228.0            NaN          ***
2  001-0001  Language Usage        202.0            NaN          ***
3  001-0003  Language Usage        189.0          201.0            2
4  001-0004  Language Usage        246.0          250.0            6

In [63]:
#upload csv
ws_19=pd.read_csv('Winter19_Spring19.csv')
ws_19.head()

,TermTested,TermRostered,Subject,ASGType,NormsReferenceData,GrowthComparisonPeriod,WIStartTerm,WIEndTerm,OptionalGroupingCategory,OptionGroupingGroup,...,MedianConditionalGrowthPercentile,OptionalGroupingPercentageofStudentswhoMetorExceededtheirProjectedScore,OptionalGroupingOverallPercentageofProjectedScoreMet,OptionalGroupingCountofStudentswithGrowthProjectionAvailableandValidBeginningandEndingTermScores,OptionalGroupingCountofStudentswhoMetorExceededtheirProjectedGrowth,OptionalGroupingMedianConditionalGrowthPercentile,StartGrowthandAchievement,EndGrowthandAchievement,ConditionalGrowthPercentileAxis,AchievementPercentileAxis
0,Spring 2018-2019,Spring 2018-2019,Language Usage,Summary,2015,Winter 2019 - Spring 2019,17,31,NONE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High-A,50,50
1,Spring 2018-2019,Spring 2018-2019,Language Usage,Summary,2015,Winter 2019 - Spring 2019,17,31,NONE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High-A,50,50
2,Spring 2018-2019,Spring 2018-2019,Language Usage,Summary,2015,Winter 2019 - Spring 2019,17,31,NONE,NaN,...,68.0,NaN,NaN,NaN,NaN,NaN,High-G/Low-A,High-G/High-A,50,50
3,Spring 2018-2019,Spring 2018-2019,Language Usage,Summary,2015,Winter 2019 - Spring 2019,17,31,NONE,NaN,...,68.0,NaN,NaN,NaN,NaN,NaN,NaN,High-A,50,50
4,Spring 2018-2019,Spring 2018-2019,Language Usage,Summary,2015,Winter 2019 - Spring 2019,17,31,NONE,NaN,...,68.0,NaN,NaN,NaN,NaN,NaN,Low-G/High-A,Low-G/High-A,50,50

In [64]:
#extract necessary columns
ws_19=ws_19.loc[:, ["StudentID", "Subject", "EndScore", "StudentGrade"]]

In [65]:
#rename columns
ws19 = ws_19.rename(columns={"EndScore":"Spring (2019)"})
ws19.head()

  StudentID         Subject  Spring (2019) StudentGrade
0       101  Language Usage          232.0            6
1       102  Language Usage          225.0            7
2  001-0073  Language Usage          214.0            5
3  001-0002  Language Usage          232.0            6
4  001-0005  Language Usage          219.0            5

In [66]:
#combine tables
merge_table = pd.merge(f17w, s18, on=["StudentID", "Subject"], how="outer")
merge_table.head()

,StudentID,Subject,Fall (2017),Winter (2018),StudentGrade_x,Spring (2018),StudentGrade_y
0,20,Language Usage,228.0,233.0,8,232.0,8
1,23,Language Usage,231.0,230.0,4,NaN,NaN
2,30,Language Usage,NaN,209.0,3,210.0,3
3,31,Language Usage,NaN,223.0,8,225.0,8
4,001-0001,Language Usage,189.0,197.0,2,201.0,2

In [67]:
#combine tables and rename columns
merge_tables2 = pd.merge(merge_table, fw1819, on=["StudentID", "Subject"], how="outer")
merge_table2=merge_tables2.rename(columns={"StudentGrade_x":"grade1", "StudentGrade_y":"grade2"})

In [68]:
#combine tables and replace *** with null values
merge_table3 = pd.merge(merge_table2, ws19, on=["StudentID", "Subject"], how="outer")
merge_table4=merge_table3.replace({'***':np.NaN})

In [69]:
#combine grade columns from each spreadsheet to get rid of null values 
merge_table4['Grade']=merge_table4['StudentGrade_x'].fillna(merge_table4['StudentGrade_y'].fillna(merge_table4['grade1'].fillna(merge_table4['grade2'])))
merge_table4.head()

,StudentID,Subject,Fall (2017),Winter (2018),grade1,Spring (2018),grade2,Fall (2018),Winter (2019),StudentGrade_x,Spring (2019),StudentGrade_y,Grade
0,20,Language Usage,228.0,233.0,8,232.0,8,NaN,NaN,NaN,NaN,NaN,8
1,23,Language Usage,231.0,230.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2,30,Language Usage,NaN,209.0,3,210.0,3,NaN,NaN,NaN,NaN,NaN,3
3,31,Language Usage,NaN,223.0,8,225.0,8,NaN,NaN,NaN,NaN,NaN,8
4,001-0001,Language Usage,189.0,197.0,2,201.0,2,202.0,NaN,NaN,NaN,NaN,2

In [70]:
#upload csv
cons=pd.read_csv('Consolidated_Test_Data.csv')
final_id=cons.loc[:, ['Student']]
final_id.head()

      Student
0  Student ID
1    001-0073
2    001-0002
3    001-0001
4    001-0003

In [71]:
#rename column to prepare for merge
con=final_id.rename(columns={"Student":"StudentID"})
con.head()

    StudentID
0  Student ID
1    001-0073
2    001-0002
3    001-0001
4    001-0003

In [87]:
#combine tables to include only the Student IDs on the final form
merge_table5 = pd.merge(merge_table4, con, on=["StudentID"], how="inner")
merge_table5['Grade']=merge_table5['Grade'].replace('K', 0)
merge_table5

,StudentID,Subject,Fall (2017),Winter (2018),grade1,Spring (2018),grade2,Fall (2018),Winter (2019),StudentGrade_x,Spring (2019),StudentGrade_y,Grade
0,001-0001,Language Usage,189.0,197.0,2,201.0,2,202.0,NaN,NaN,NaN,NaN,2
1,001-0001,Mathematics,195.0,208.0,2,211.0,2,211.0,NaN,NaN,222.0,3,3
2,001-0001,Reading,189.0,197.0,2,204.0,2,208.0,NaN,NaN,208.0,3,3
3,001-0001,Science - General Science,194.0,186.0,2,196.0,2,196.0,NaN,NaN,NaN,NaN,2
4,001-0002,Language Usage,224.0,234.0,5,229.0,5,228.0,NaN,NaN,232.0,6,6
5,001-0002,Mathematics,225.0,236.0,5,238.0,5,230.0,NaN,NaN,238.0,6,6
6,001-0002,Reading,229.0,234.0,5,236.0,5,233.0,NaN,NaN,236.0,6,6
7,001-0002,Science - General Science,210.0,216.0,5,217.0,5,219.0,NaN,NaN,228.0,6,6
8,001-0003,Language Usage,174.0,NaN,NaN,NaN,NaN,189.0,201.0,2,NaN,NaN,2
9,001-0003,Mathematics,203.0,206.0,1,209.0,1,195.0,201.0,2,197.0,2,2
10,001-0003,Reading,191.0,194.0,1,202.0,1,194.0,199.0,2,199.0,2,2
11,001-0003,Science - General Science,NaN,NaN,NaN,NaN,NaN,187.0,195.0,2,NaN,NaN,2
12,001-0004,Language Usage,235.0,238.0,5,244.0,5,246.0,250.0,6,264.0,6,6
13,001-0004,Mathematics,277.0,270.0,5,281.0,5,281.0,293.0,6,304.0,6,6
14,001-0004,Reading,239.0,240.0,5,250.0,5,248.0,257.0,6,250.0,6,6
15,001-0004,Science - General Science,229.0,226.0,5,236.0,5,237.0,244.0,6,245.0,6,6
16,001-0008,Language Usage,219.0,227.0,5,227.0,5,227.0,242.0,6,238.0,6,6
17,001-0008,Mathematics,237.0,245.0,5,246.0,5,248.0,255.0,6,256.0,6,6
18,001-0008,Reading,236.0,234.0,5,237.0,5,237.0,244.0,6,243.0,6,6
19,001-0008,Science - General Science,213.0,225.0,5,225.0,5,228.0,234.0,6,237.0,6,6
20,001-0009,Language Usage,232.0,234.0,7,243.0,7,244.0,250.0,8,253.0,8,8
21,001-0009,Mathematics,251.0,259.0,7,263.0,7,265.0,269.0,8,274.0,8,8
22,001-0009,Reading,244.0,248.0,7,245.0,7,247.0,260.0,8,262.0,8,8
23,001-0009,Science - General Science,228.0,232.0,7,242.0,7,239.0,248.0,8,250.0,8,8
24,001-0019,Language Usage,224.0,225.0,4,226.0,4,228.0,227.0,5,234.0,5,5
25,001-0019,Mathematics,232.0,235.0,4,243.0,4,243.0,238.0,5,244.0,5,5
26,001-0019,Reading,219.0,222.0,4,227.0,4,214.0,223.0,5,234.0,5,5
27,001-0019,Science - General Science,211.0,217.0,4,216.0,4,223.0,223.0,5,228.0,5,5
28,001-0020,Language Usage,204.0,205.0,4,212.0,4,218.0,213.0,5,227.0,5,5
29,001-0020,Mathematics,202.0,208.0,4,211.0,4,214.0,208.0,5,215.0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,001-0071,Mathematics,NaN,NaN,NaN,NaN,NaN,NaN,225.0,3,229.0,3,3
255,001-0071,Reading,NaN,NaN,NaN,NaN,NaN,NaN,223.0,3,232.0,3,3
256,001-0071,Science - General Science,NaN,NaN,NaN,NaN,NaN,NaN,221.0,3,NaN,NaN,3
257,001-0011,Mathematics,NaN,NaN,NaN,NaN,NaN,157.0,172.0,K,174.0,K,0
258,001-0011,Reading,NaN,NaN,NaN,NaN,NaN,156.0,164.0,K,188.0,K,0
259,001-0051,Mathematics,NaN,NaN,NaN,NaN,NaN,167.0,178.0,K,195.0,K,0
260,001-0051,Reading,NaN,NaN,NaN,NaN,NaN,173.0,170.0,K,190.0,K,0
261,001-0076,Language Usage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,226.0,6,6
262,001-0076,Mathematics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,234.0,6,6
263,001-0076,Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,219.0,6,6
264,001-0076,Science - General Science,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,213.0,6,6
265,001-0081,Language Usage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,223.0,7,7
266,001-0081,Mathematics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,247.0,7,7
267,001-0081,Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233.0,7,7
268,001-0081,Science - General Science,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,224.0,7,7
269,001-0080,Language Usage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202.0,7,7
270,001-0080,Mathematics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221.0,7,7
271,001-0080,Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.0,7,7
272,001-0080,Science - General Science,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0,7,7
273,001-0100,Language Usage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.0,7,7
274,001-0100,Mathematics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218.0,7,7
275,001-0100,Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217.0,7,7
276,001-0100,Science - General Science,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,216.0,7,7
277,001-0082,Language Usage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,229.0,7,7
278,001-0082,Mathematics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263.0,7,7
279,001-0082,Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,237.0,7,7
280,001-0082,Science - General Science,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,234.0,7,7
281,001-0077,Language Usage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178.0,5,5
282,001-0077,Mathematics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,208.0,5,5
283,001-0077,Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,186.0,5,5

In [95]:
final=merge_table5.pivot_table(index=['StudentID', 'Grade'], columns='Subject', values=['Fall (2017)', 'Winter (2018)', 'Spring (2018)', 'Fall (2018)', 'Winter (2019)', 'Spring (2019)'])
final.to_csv('consolidated_test_grades.csv')
final

                   Fall (2017)                                                \
Subject         Language Usage Mathematics Reading Science - General Science
StudentID Grade
001-0001  2              189.0         NaN     NaN                     194.0
          3                NaN       195.0   189.0                       NaN
001-0002  6              224.0       225.0   229.0                     210.0
001-0003  2              174.0       203.0   191.0                       NaN
001-0004  6              235.0       277.0   239.0                     229.0
001-0005  5                NaN         NaN     NaN                       NaN
001-0006  5                NaN         NaN     NaN                       NaN
001-0008  6              219.0       237.0   236.0                     213.0
001-0009  8              232.0       251.0   244.0                     228.0
001-0010  1                NaN         NaN     NaN                       NaN
001-0011  0                NaN         NaN     NaN                       NaN
001-0012  4                NaN         NaN     NaN                       NaN
001-0013  7                NaN         NaN     NaN                       NaN
001-0014  5                NaN         NaN     NaN                       NaN
001-0015  5                NaN         NaN     NaN                       NaN
001-0018  6                NaN         NaN     NaN                       NaN
001-0019  5              224.0       232.0   219.0                     211.0
001-0020  5              204.0       202.0   199.0                     198.0
001-0021  1                NaN         NaN     NaN                       NaN
001-0022  3                NaN         NaN     NaN                       NaN
001-0023  6                NaN         NaN     NaN                       NaN
001-0024  3              167.0       229.0   188.0                       NaN
001-0025  5              208.0       215.0   215.0                     206.0
001-0026  1                NaN         NaN     NaN                       NaN
001-0027  6                NaN         NaN     NaN                       NaN
001-0028  5                NaN         NaN     NaN                       NaN
001-0029  7                NaN         NaN     NaN                       NaN
001-0030  5              214.0       213.0   208.0                     204.0
001-0031  7              236.0       242.0   241.0                     224.0
001-0032  5                NaN         NaN     NaN                       NaN
...                        ...         ...     ...                       ...
001-0049  3                NaN         NaN     NaN                       NaN
001-0050  6                NaN         NaN     NaN                       NaN
001-0051  0                NaN         NaN     NaN                       NaN
001-0052  1                NaN         NaN     NaN                       NaN
001-0053  3                NaN         NaN     NaN                       NaN
001-0054  1                NaN         NaN     NaN                       NaN
001-0055  4                NaN         NaN     NaN                       NaN
001-0056  6                NaN         NaN     NaN                       NaN
001-0057  2                NaN         NaN     NaN                       NaN
001-0058  5                NaN         NaN     NaN                       NaN
001-0059  6              180.0       182.0   182.0                       NaN
001-0060  4                NaN         NaN     NaN                       NaN
001-0062  8                NaN         NaN     NaN                       NaN
001-0063  5              199.0       212.0   200.0                     197.0
001-0065  6                NaN         NaN     NaN                       NaN
001-0066  4                NaN         NaN     NaN                       NaN
001-0068  1                NaN         NaN     NaN                       NaN
001-0069  8                NaN         NaN     NaN                       NaN
001-0070  2                NaN         NaN     NaN                       NaN
001-0071  3                NaN         NaN     NaN                       NaN
001-0072  2                NaN         NaN     NaN                       NaN
001-0073  5                NaN         NaN     NaN                       NaN
001-0074  4                NaN         NaN     NaN                       NaN
001-0075  6                NaN         NaN     NaN                       NaN
001-0076  6                NaN         NaN     NaN                       NaN
001-0077  5                NaN         NaN     NaN                       NaN
001-0080  7                NaN         NaN     NaN                       NaN
001-0081  7                NaN         NaN     NaN                       NaN
001-0082  7                NaN         NaN     NaN                       NaN
001-0100  7                NaN         NaN     NaN                       NaN

                   Fall (2018)                                                \
Subject         Language Usage Mathematics Reading Science - General Science
StudentID Grade
001-0001  2              202.0         NaN     NaN                     196.0
          3                NaN       211.0   208.0                       NaN
001-0002  6              228.0       230.0   233.0                     219.0
001-0003  2              189.0       195.0   194.0                     187.0
001-0004  6              246.0       281.0   248.0                     237.0
001-0005  5              216.0       213.0   213.0                     209.0
001-0006  5              215.0       218.0   219.0                     214.0
001-0008  6              227.0       248.0   237.0                     228.0
001-0009  8              244.0       265.0   247.0                     239.0
001-0010  1                NaN       201.0   191.0                       NaN
001-0011  0                NaN       157.0   156.0                       NaN
001-0012  4              198.0       213.0   211.0                     204.0
001-0013  7              215.0       220.0   217.0                     217.0
001-0014  5              209.0       193.0   198.0                     195.0
001-0015  5              200.0       194.0   222.0                     218.0
001-0018  6              212.0       221.0   203.0                     198.0
001-0019  5              228.0       243.0   214.0                     223.0
001-0020  5              218.0       214.0   200.0                     201.0
001-0021  1                NaN       183.0   176.0                       NaN
001-0022  3              188.0       185.0   193.0                     187.0
001-0023  6              230.0       235.0   234.0                     217.0
001-0024  3              200.0       219.0   201.0                     193.0
001-0025  5              226.0       233.0   225.0                     206.0
001-0026  1                NaN       188.0   176.0                       NaN
001-0027  6              214.0       234.0   222.0                     216.0
001-0028  5              218.0       239.0   211.0                     215.0
001-0029  7              222.0       236.0   217.0                     211.0
001-0030  5              227.0       227.0   230.0                     223.0
001-0031  7              248.0       256.0   243.0                     240.0
001-0032  5              215.0       248.0   203.0                     209.0
...                        ...         ...     ...                       ...
001-0049  3              188.0       194.0   193.0                     195.0
001-0050  6                NaN       214.0   213.0                     211.0
001-0051  0                NaN       167.0   173.0                       NaN
001-0052  1                NaN       185.0   168.0                       NaN
001-0053  3              189.0       189.0   195.0                     194.0
001-0054  1                NaN       182.0   171.0                       NaN
001-0055  4              195.0       202.0   191.0                     178.0
001-0056  6              229.0       229.0   235.0                     225.0
001-0057  2              178.0       188.0   185.0                     184.0
001-0058  5              188.0       203.0   218.0                     186.0
001-0059  6              178.0       198.0   184.0                     184.0
001-0060  4              207.0       196.0   202.0                     192.0
001-0062  8              242.0       269.0   238.0                     225.0
001-0063  5              201.0       205.0   201.0                     187.0
001-0065  6              174.0       204.0   171.0                     195.0
001-0066  4                NaN         NaN     NaN                       NaN
001-0068  1                NaN         NaN     NaN                       NaN
001-0069  8                NaN         NaN     NaN                       NaN
001-0070  2                NaN         NaN     NaN                       NaN
001-0071  3                NaN         NaN     NaN                       NaN
001-0072  2                NaN         NaN     NaN                       NaN
001-0073  5                NaN         NaN     NaN                       NaN
001-0074  4                NaN         NaN     NaN                       NaN
001-0075  6                NaN         NaN     NaN                       NaN
001-0076  6                NaN         NaN     NaN                       NaN
001-0077  5                NaN         NaN     NaN                       NaN
001-0080  7                NaN         NaN     NaN                       NaN
001-0081  7                NaN         NaN     NaN                       NaN
001-0082  7                NaN         NaN     NaN                       NaN
001-0100  7                NaN         NaN     NaN                       NaN

                 Spring (2018)              ... Spring (2019)  \
Subject         Language Usage Mathematics  ...       Reading
StudentID Grade                             ...
001-0001  2              201.0         NaN  ...           NaN
          3                NaN       211.0  ...         208.0
001-0002  6              229.0       238.0  ...         236.0
001-0003  2                NaN       209.0  ...         199.0
001-0004  6              244.0       281.0  ...         250.0
001-0005  5                NaN         NaN  ...         216.0
001-0006  5                NaN         NaN  ...         222.0
001-0008  6              227.0       246.0  ...         243.0
001-0009  8              243.0       263.0  ...         262.0
001-0010  1                NaN         NaN  ...         212.0
001-0011  0                NaN         NaN  ...         188.0
001-0012  4                NaN         NaN  ...         218.0
001-0013  7                NaN         NaN  ...           NaN
001-0014  5                NaN         NaN  ...         211.0
001-0015  5                NaN         NaN  ...           NaN
001-0018  6                NaN         NaN  ...         207.0
001-0019  5              226.0       243.0  ...         234.0
001-0020  5              212.0       211.0  ...         218.0
001-0021  1                NaN         NaN  ...         189.0
001-0022  3                NaN         NaN  ...         198.0
001-0023  6                NaN         NaN  ...         242.0
001-0024  3              193.0       216.0  ...         197.0
001-0025  5              219.0       232.0  ...         216.0
001-0026  1                NaN         NaN  ...         204.0
001-0027  6                NaN         NaN  ...         226.0
001-0028  5                NaN         NaN  ...         221.0
001-0029  7                NaN         NaN  ...         229.0
001-0030  5              216.0       231.0  ...         237.0
001-0031  7              238.0       255.0  ...         253.0
001-0032  5                NaN         NaN  ...         217.0
...                        ...         ...  ...           ...
001-0049  3                NaN         NaN  ...         203.0
001-0050  6              210.0       213.0  ...         218.0
001-0051  0                NaN         NaN  ...         190.0
001-0052  1                NaN         NaN  ...         192.0
001-0053  3                NaN         NaN  ...         204.0
001-0054  1                NaN       189.0  ...         198.0
001-0055  4                NaN         NaN  ...         190.0
001-0056  6                NaN         NaN  ...         239.0
001-0057  2                NaN         NaN  ...         178.0
001-0058  5              190.0       210.0  ...         229.0
001-0059  6              181.0       181.0  ...         182.0
001-0060  4                NaN         NaN  ...         195.0
001-0062  8                NaN         NaN  ...         243.0
001-0063  5              205.0       216.0  ...         212.0
001-0065  6                NaN         NaN  ...         208.0
001-0066  4                NaN         NaN  ...         249.0
001-0068  1                NaN         NaN  ...         215.0
001-0069  8                NaN         NaN  ...         226.0
001-0070  2                NaN         NaN  ...         224.0
001-0071  3                NaN         NaN  ...         232.0
001-0072  2                NaN         NaN  ...         167.0
001-0073  5                NaN         NaN  ...         204.0
001-0074  4                NaN         NaN  ...         207.0
001-0075  6                NaN         NaN  ...         237.0
001-0076  6                NaN         NaN  ...         219.0
001-0077  5                NaN         NaN  ...         186.0
001-0080  7                NaN         NaN  ...         210.0
001-0081  7                NaN         NaN  ...         233.0
001-0082  7                NaN         NaN  ...         237.0
001-0100  7                NaN         NaN  ...         217.0

                                           Winter (2018)                      \
Subject         Science - General Science Language Usage Mathematics Reading
StudentID Grade
001-0001  2                           NaN          197.0         NaN     NaN
          3                           NaN            NaN       208.0   197.0
001-0002  6                         228.0          234.0       236.0   234.0
001-0003  2                           NaN            NaN       206.0   194.0
001-0004  6                         245.0          238.0       270.0   240.0
001-0005  5                         216.0            NaN         NaN     NaN
001-0006  5                         226.0            NaN         NaN     NaN
001-0008  6                         237.0          227.0       245.0   234.0
001-0009  8                         250.0          234.0       259.0   248.0
001-0010  1                           NaN            NaN         NaN     NaN
001-0011  0                           NaN            NaN         NaN     NaN
001-0012  4                         223.0            NaN         NaN     NaN
001-0013  7                           NaN            NaN         NaN     NaN
001-0014  5                         200.0            NaN         NaN     NaN
001-0015  5                           NaN            NaN         NaN     NaN
001-0018  6                         202.0            NaN         NaN     NaN
001-0019  5                         228.0          225.0       235.0   222.0
001-0020  5                         209.0          205.0       208.0   206.0
001-0021  1                           NaN            NaN         NaN     NaN
001-0022  3                           NaN            NaN         NaN     NaN
001-0023  6                         234.0            NaN         NaN     NaN
001-0024  3                           NaN          178.0       211.0   176.0
001-0025  5                         225.0          212.0       233.0   221.0
001-0026  1                           NaN            NaN         NaN     NaN
001-0027  6                         227.0            NaN         NaN     NaN
001-0028  5                           NaN            NaN         NaN     NaN
001-0029  7                         221.0            NaN         NaN     NaN
001-0030  5                         226.0          217.0       224.0   228.0
001-0031  7                         237.0          239.0       251.0   246.0
001-0032  5                         219.0            NaN         NaN     NaN
...                                   ...            ...         ...     ...
001-0049  3                           NaN            NaN         NaN     NaN
001-0050  6                         216.0          220.0       229.0   218.0
001-0051  0                           NaN            NaN         NaN     NaN
001-0052  1                           NaN            NaN         NaN     NaN
001-0053  3                           NaN            NaN         NaN     NaN
001-0054  1                           NaN            NaN         NaN     NaN
001-0055  4                           NaN            NaN         NaN     NaN
001-0056  6                         226.0            NaN         NaN     NaN
001-0057  2                           NaN            NaN         NaN     NaN
001-0058  5                           NaN          195.0       206.0   193.0
001-0059  6                         184.0          187.0       193.0   172.0
001-0060  4                           NaN            NaN         NaN     NaN
001-0062  8                           NaN            NaN         NaN     NaN
001-0063  5                         220.0          208.0       214.0   212.0
001-0065  6                         201.0            NaN         NaN     NaN
001-0066  4                         248.0            NaN         NaN     NaN
001-0068  1                           NaN            NaN         NaN     NaN
001-0069  8                         221.0            NaN         NaN     NaN
001-0070  2                           NaN            NaN         NaN     NaN
001-0071  3                           NaN            NaN         NaN     NaN
001-0072  2                           NaN            NaN         NaN     NaN
001-0073  5                         204.0            NaN         NaN     NaN
001-0074  4                         210.0            NaN         NaN     NaN
001-0075  6                           NaN            NaN         NaN     NaN
001-0076  6                         213.0            NaN         NaN     NaN
001-0077  5                           NaN            NaN         NaN     NaN
001-0080  7                         197.0            NaN         NaN     NaN
001-0081  7                         224.0            NaN         NaN     NaN
001-0082  7                         234.0            NaN         NaN     NaN
001-0100  7                         216.0            NaN         NaN     NaN

                                           Winter (2019)                      \
Subject         Science - General Science Language Usage Mathematics Reading
StudentID Grade
001-0001  2                         186.0            NaN         NaN     NaN
          3                           NaN            NaN         NaN     NaN
001-0002  6                         216.0            NaN         NaN     NaN
001-0003  2                           NaN          201.0       201.0   199.0
001-0004  6                         226.0          250.0       293.0   257.0
001-0005  5                           NaN          220.0       218.0   216.0
001-0006  5                           NaN          214.0       229.0   228.0
001-0008  6                         225.0          242.0       255.0   244.0
001-0009  8                         232.0          250.0       269.0   260.0
001-0010  1                           NaN          201.0       205.0   210.0
001-0011  0                           NaN            NaN       172.0   164.0
001-0012  4                           NaN          204.0       215.0   217.0
001-0013  7                           NaN          229.0       225.0   228.0
001-0014  5                           NaN          206.0       206.0   207.0
001-0015  5                           NaN          205.0       197.0   226.0
001-0018  6                           NaN          212.0       211.0   210.0

In [102]:
new_order= ["Fall (2017)", "Winter (2018)", "Spring (2018)", "Fall (2018)", "Winter (2019)", "Spring (2019)"]
my_report = final.reindex(new_order, axis=1)
my_report

TypeError: Expected tuple, got str